.nav-bar {
    @include flex(space-between, center);

    &__logo {
        text-transform: uppercase;
        font-size: var(--font-size-large);
        font-weight: 500;

        &--strong {
            color: var(--primary-color);
        }
    }

    &__navigation {
        .menu {
            @include flex(center, center);
            gap: var(--base-16);
    
            list-style-type: none;
            &__item {
                text-transform: uppercase;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }  
    }
}